/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/*
pink = #c41475
light blue = #13e7f2
purple = #be13f2
green = #6bf20a
*/

.App {
  font-weight: 100;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin-left: 20px;
  font-weight: 200;
}

.header h1 a {
  text-decoration: none;
  color: #c41475;
}


.header-links a {
  color: #6bf20a;
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
  display: flex;
}

.header-links li a {
  text-decoration: none;
  padding: 1.2rem;
}

.content {
  font-weight: 200;
  font-size: 1.4rem;
  margin: auto;
  width: 68%;
  margin-top: 80px;
}

.content h2, h3 {
  font-weight: 200;
}

.content-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border-top: 1px solid #13e7f2;
  border-bottom: 1px solid #13e7f2;
  border-radius: 10px; */
  padding: 2rem;
  margin-bottom: 80px;
}

.content-row .left {
  /* background: #14161a; */
  padding: 4rem;
  border-radius: 15px;
}

.content-row .right {
  margin-left: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 600px;
  border-left: 1px solid #be13f2;
  border-right: 1px solid #be13f2;
  border-radius: 10px;
}

.content-right p {
  max-width: 600px;
}

.brandi-img {
  width: 200px;
  border-radius: 50%;
}

.brandi-home {
  width: 200px;
  border-radius: 50%;
  filter: grayscale(100%);
  margin-top: 34px;
}

.languages {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  padding-bottom: 2rem;
  width: 94%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.language img {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.language {
  display: flex;
  flex-direction: column;
  max-width: 60px;
  align-items: center;
  padding: 0 2rem;
}

.home-icons {
  display: flex;
  justify-content: space-around;
  /* width: 40%; */
  margin: 0 auto;
  margin-top: 40px;
}

.home-icons img {
  max-width: 20%;
  height: auto;
}

a {
  color: #6bf20a;
  text-decoration: none;
}

h2, h3 {
  color: #13e7f2;
  
}

.last {
  margin-bottom: 120px;
}

/* iOS Project Styles */

.iOS-project-container {
  display: flex;
  padding: 2rem;
  margin: 0 auto;
}

.iOS-image img {
  max-width: 300px;
}

.ios-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  border-left: 1px solid #be13f2;
  border-right: 1px solid #be13f2;
  border-radius: 10px;
  margin-left: 2rem;
  max-width: 800px;
}

.ios-project-link {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* align-items: center; */
  margin-bottom: 12px;
}

.ios-project-link img {
  width: 40px;
  margin-right: 1.2rem;
}

/* Web Project Styles */

.Web-project-container {
  display: flex;
  /* flex-direction: column; */
  padding: 2rem;
  margin: 0 auto;
  align-items: center;
}

.Web-image img {
  max-width: 600px;
}

.web-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  border-left: 1px solid #be13f2;
  border-right: 1px solid #be13f2;
  border-radius: 10px;
  margin-left: 2rem;
  max-width: 800px;
}

.web-project-link {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* align-items: center; */
  margin-bottom: 12px;
}

.web-project-link img {
  width: 40px;
  margin-right: 1.2rem;
}

.largeText {
  font-size: 8rem;
}